---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Test Page"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <h1 class="text-5xl font-bold text-red-500 underline">Test test test</h1>
  <p>This is a test page.</p>
  <button
    class="m-2 w-full rounded-lg bg-blue-500 p-4 text-center font-bold text-white transition-all hover:bg-blue-700 active:scale-95 md:w-auto"
  >
    Click me
  </button>
</Layout>
